
$col-orange: #FFBC30;

/* --------------------START article START -----------------------------*/

.article__title {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  display: block;
}
.article__title {
  position: relative;
  margin-top: 4.1rem;
  padding-bottom: 0.8rem;
  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    min-width: 2.5rem;
    border-bottom: 4px solid $col-orange
  }
}
.article__text {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  line-height: 193.1%;
  margin: 1rem 0 1rem;
}

@media (max-width: 575px){
  .article {
    text-align: center;
  }
  .article__title {
    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: calc(50% - 20px);
    }
  }
}
/* --------------------END article END -----------------------------*/