$col-red: #EA4435;

/* --------------------START services-we-provide START -----------------------------*/

.article__title--decor-red {
  padding-bottom: 0.8rem;
  &:after {
    content: "";
    bottom: 0;
    left: 0;
    min-width: 4.5rem;
    border-bottom: 4px solid $col-red
  }
}
.services-we-provide__decor-1 {
  float: right;
  margin-top: 40px;
  margin-right: 120px;
}
.services-we-provide__decor-2 {
  left: 0;
  margin-top: 100px;
  margin-left:  -150px;
}
.all-service-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 6.5rem 0 0  0;
}

.services-we-provide__hidden-btn {
  display: none;
}
@media (max-width: 768px) {
  .all-service-cards {
    margin-top: 0;
  }

  .services-we-provide__hidden-btn {
    display: inline;
    width: inherit;
    margin:  2rem auto 0;
  }
  .services-we-provide__btn-get-start,
  .services-we-provide__decor-2 {
    display: none;
  }
  .services-we-provide__decor-1 img {
    position: absolute;
    left: 1.2rem;
    height: 89px;
  }
  .all-service-cards {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 575px) {
  .article__title--decor-red {
    &:after {
      left: calc(50% - 40px);

    }
  }
}
/* --------------------END services-we-provide END -----------------------------*/